/* I'm using HTML5 Boilerplate v6.0.1 because I suck at CSS.
 * You can find it for yourself at https://html5boilerplate.com/
 */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html{
    background-color: #101010;
    color: #222;
    font-size: 1.5em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   My shitty attempts at making CSS for my site
   ========================================================================== */

/*
 * Element selectors
 */



body{
    font-family: Lato, Arial, sans-serif;
    margin: 1em;
    font-weight: 400;
    color: #BFBFBF;
    line-height: normal;
}


h1, h2, h3, h4, h5, h6{
    color:whitesmoke;
}

a:link {
    color: yellow;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

a:active {
    
}



img {
/*    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;*/
/*    background: transparent;*/
/*    border: 10px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    display: block;
    margin: auto;
    max-width: 95%;
}

/* 
 * Class selectors
 */

.question{
    font-style: italic;
    text-align: center;
    border-style: dotted;
    border-width: thin;
    max-width: 400px;
    margin: auto;
        
}

.emphasis-list, .texty-list{
    padding-left: 2em;  padding-right: 2em;
    margin-left: 2em;   margin-right: 2em;
}

.emphasis-list li, .texty-list li{
    
/*  padding-bottom: 1em; 
    - The border will go around the padding */
    margin-bottom: 1em;
/*    It probably makes a lot of sense to, if you want to position and item, is to start with the 
    padding, then design the 
    border, then decide how much 
    margin it should have to other elements. */
    
}


.page-title {
    font-family: Tahoma, Arial, Verdana;
    text-align: center;
}

/* 
 * Navbar made by help of W3 Schools
 * https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_float_advanced
 */

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: ;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #999;
    padding: 7px 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #000;
}


.intro {

    max-width: 475px;;
    display: block;
    margin: auto;
    padding: 10px;
    border-style: double;
    
    text-align: center;
    font-family: Tahoma, Arial, Verdana;
    font-size: .6em;
*/
}

.intro ul{
}

.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6  {
    margin: .5em;
}

.news {
    font-family: "poynter","helvetica",;
    font-size: 1.5em;
    border-style: solid;
    border-width: thin;
    border-radius: 7px;
    margin: auto;
    width: auto;
    display: inline-block;
}

.indent-1, .i-1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.indent-2, .i-2 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.indent-3, .i-3 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.indent-4, .i-4 {
    padding-left: 8rem;
    padding-right: 8rem;
}


.caption {
    font-size: .8rem;
    display: block;
    margin: 1.3em auto;
    text-align: center; 
    font-style: italic;
/*
    margin-left: 1.3rem;
    margin-right: 1.3rem;
*/
}

.footnotes {
    font-size: .8em;
    border-top-style: dashed;
    border-width: thin;
}

.disclamer {
    font-size: .6em;
    border-style: solid;
    border-width: thin;
    
}

.content-wrap {
    max-width: 1000px;
    padding-left 48px;
}

.post {
    max-width: 700px;
    margin: auto;
    text-align: justify;
}

.post-list {
    max-width: 800px;
    margin: auto;
    font-size: 1.2rem;
}

.video-list {
    max-width: 90%;
    margin: auto;
    text-align: justify;
}

/*  The following awesome video containers made by help of Ben Marshall
 *  https://benmarshall.me/responsive-iframes/                     
 */

.video-container {
    position: relative;
    height: 0;
    overflow: hidden;
}

.video-container-16x9{
    padding-bottom: 56.25%;
}

.video-container-4x3{
    padding-bottom: 75%
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
}

.journal {
/*    Padding, border, margin*/
    
    max-width: 450px;
    margin: auto;
    padding: 2rem;
    border-style: dashed;
    border-color: #272727;
    border-width:thin;
    
    background-color: #BAB9B6;
    color: black;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 1.5rem
}

.journal h1, .journal h2, .journal h3, .journal h4, .journal h5, .journal h6 {
    color: black;
}

.inline-image img {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.note {
    max-width: 500px;
    margin: auto;
    border-style: groove; 
    font-size: .6em;
    text-align: center
    
}

.quote {
/*    These are quotes. They should have a line to the left of the text*/
    padding-left: 10px; 
    border-left-style: solid;
    border-left-width: thin;
    font-style: italic;
    max-width: 600px;
    margin: auto;
    
}

.quote .source {
    text-align: right;
    font-style: normal;
}

/* 
 * ID selectors
 */

#the-latest{
    font-family: "Courier New", "Courier", monospace;
}

#footer{
    font-family: Lato, Arial, sans-serif;
    font-size: 0.5rem;
}


#countdown {
    position: fixed;
    right: 20px;
    top: 0;
    font-size: 0em;
}

#update {
/*    Nothing defined yet*/
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

/*
    a,
    a:visited {
        text-decoration: underline;
    }
*/

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
