html{
    background-color: #272727;
    
}

body{
    font-family: Lato, Arial, sans-serif;
    margin: 1em;
    font-weight: 400;
    color: #BFBFBF;
    line-height: 1.3em;
}

.reading{
    background-color: #101010;
    margin: 1rem;
}

#the-latest{
    font-family: "Courier New", "Courier", monospace;
    text-indent: -.5em;
}

#page-title{
    font-family: Lato, Arial, sans-serif;
    text-align: center;
}

#footer{
    font-family: Lato, Arial, sans-serif;
    font-size: 0.5rem;
}

.indent-1 {
    padding-left: 30px;
}
h1 {
    font-size: 1.25em
}

h4 {
    font-size: 1em;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 90%;
}

a:link {
    color: yellow;
}

a:visited {
    color: grey;
}

a:hover {
    color: white;
}

a:active {
    
}
